

<div id="wrapper">
  <div class="gameContainer">
      <h1>Tres en línea</h1>
      <div class="players">
        <div> 
          <h4>Player 1 </h4>
           <h3>O</h3>
        </div>
        <div> 
          <h4>Current Player: </h4>
           <h3 class="currentPlayer">{{currentPlayer}}</h3>
        </div>
        <div> 
          <h4>Player 2 </h4>
           <h3>X</h3>
        </div>
      </div>
      <div class="game--container">
        <div id="0" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[0]></div>
        <div id="1" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[1] ></div>
        <div id="2" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[2] ></div>
        <div id="3" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[3] ></div>
        <div id="4" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[4]></div>
        <div id="5" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[5]></div>
        <div id="6" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[6]></div>
        <div id="7" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[7]></div>
        <div id="8" (click)="cellclick($event)"  class="cell" [innerHtml]=cells[8]></div>
      </div>

    <button (click)="RestartGame()" type="button" class="btn btn-primary">Restart Game</button>
</div>
<div>
  <h4>Creado por sergio andres vega vasquez</h4>
</div>
</div>



        

